<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
    <header>
        {% if not user.is_authenticated %}
        <a href="{% url 'users:signup' %}">Зарегистрироваться</a>
        <a href="{% url 'users:signin' %}">Войти</a>
        {% else %}
        <nav>
            <a href="{% url 'users:profile_detail' pk=request.user.pk %}">{{ request.user }}</a>
            <a href="{% url 'users:logout' %}">выйти</a>
        </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>© 2026 Ofblind Связь: <a href="mailto:nigelvoid350@gmail.com">nigelvoid350@gmail.com</a> GitHub: <a target="_blank" href="https://github.com/NigelVoid">https://github.com/NigelVoid</a></footer>
</body>
</html>
